@import "colors.scss";
footer{
    min-height: 2.4rem;
    .contactInfo{
        display: flex;
        >*{
            align-items: center;
            display: flex;
            img{
                height: 1.5rem;
            }
            a{
                text-decoration: none;
                color: $black;
                font-style: normal;
                font-size: 14px;
                margin: 5px;
            }
        }
    }
}